 /* h1{ 
    color:green;
    background-color: orangered;
}
.div1{
    background-color: moccasin;
}
.div2{
    background-color: lime;

} 

 externalcss2
h1{
    color: green;
    background-color: orangered;
}
.div1{
    background-color: yellowgreen;
} */


  /* externalcss3
h1{
    color: darkslateblue;
    background-color: linen;
}
.div1{
    color: palevioletred;
    background-color: violet;
}
.div2{
    color: yellow;
    background-color: slateblue;
}
h2{
    color:darkslateblue ;
    background-color:linen ;
}
.div3{
    color: yellow;
    background-color:slateblue ;
} */


/* css color type
.div1{
    background-color:#f39c12;
    width: 250px;
    

}
.div2{
    background-color: #8e44ad;
    width: 13rem;

    

}
.div3{
    background-color: #34495e;
    width: 30%;
}
.div4{
    background-color: #5f27cd;
    width: 20vw;
    height: 30vh;
   
}
.div5{
    background-color: #f368e0;

} */
.div1{
    background-color:#78e08f;
    width: 400px;
}











