/* 
 
.div1{
background-color: #f0932b;
width: 200px;
}
.div2{
    background-color: #eb4d4b;
    width: 12rem;
}
.div3{
background-color: #30336b;
width: 30%;
}
.div4{
background-color: aqua;
width: 30vw;
height: 13vh;

} */
h1{
    background-color: #4cd137;
    width: 300px;
}
.div1{
    background-color: #F79F1F;
    width: 500px;

}
h2{
    background-color: #1B1464;
    width: 200px;
}
.div2{
    background-color: #009432;
    width: 500px;
    
}
.div3{
    background-color: aqua;
width: 30vw;
height: 60vh;
}
.div4{
    
        background-color: #eb4d4b;
        width: 12rem;
    }
.div5{
    background-color: #30336b;
width: 30%;

}
.div6{
    background-color: #273c75;
    width: 500px;
}


