*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blue;
}
.tekisky{
    background-color: gold;
    width: 20%;
    height: 20vh;
}

@media screen and (max-width:600px){
    .tekisky{
        background-color: #e84118;
        width: 30%;
    }
    body{
        background-color: lightcyan;
    }
    
}
@media screen  and (min-width:601px  ) and (max-width:900px){
    .tekisky{
        background-color: indianred;
        width: 30%; 
        
    }
    body{
        background-color: rgb(143, 19, 102);
    }
    
    
}