.div1{
    width: 200px;
    height: 200px;
    display: inline-block;
}
.red{
    background-color: red;
    position: fixed;
    bottom: 40px;
    right: 60px;
}
.green{
    background-color: green;
    /* position: relative;
    left: 60px;
    top: 40px; */
    position: absolute;
    top: 60px;
    right: 20px;
}
.blue{
    background-color: blue;
    /* position: relative;
    top: 40px;
    left: 60px; */
}
.yellow{
    background-color: yellow;
}
.para{
    background-color: aquamarine;
    position: sticky;
    top: 0;
}